@font-face {
    font-family: "OpenSans";
    src: url("opensans.ttf");
}

body {
    font-family: "OpenSans";
}

#header_image {
    width: 100%;
    height: auto;   
    max-height: 20vh;
    object-fit: cover;
}

footer {
    color: #B9B9B9;
}

#nixx {
    color: #99C2F0;
}

#officers {
    color: #50E565;
}